// reset
* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 13px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background: #f1f1f1;
}
a {
  color: #999;
}

// color 键与颜色名重名时，用“”引起来
$colors: (
  primary: #db9e3f,
  "white": #fff,
  "black": #000,
  "dark": #222,
  "gray": #999,
  "light": #f9f9f9,
  "dark-l":#333,
);
@each $colorkey, $color in $colors {
  .text-#{$colorkey} {
    color: $color
  }
  .bg-#{$colorkey} {
    background-color: $color
  }
}

// text
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var;
  }
}

// font-size 1rem=13px
$base-font-size: 1rem;
$font-size: (
  xs: 0.7692, // 10px
  sm: 0.9231, // 12px
  md: 1, // 13px
  lg: 1.7692, // 14px
  xl: 1.2308, // 16px
);

@each $sizekey, $size in $font-size {
  .fs-#{$sizekey} {
    font-size: $size * $base-font-size;
  }
}

// flex
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
flex-1 {
  flex: 1;
}
.flex-grow-1 {
  flex-grow: 1;
}
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
);

@each $jckey, $value in $flex-jc {
  .jc-#{$jckey} {
    justify-content: $value
  }
};

$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  stretch: stretch,
);

@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
};

